@import '../variables'

.modal
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  background: rgba(0,0,0,0.5)
  z-index: 9999
  backdrop-filter: blur(15px)
  display: flex
  justify-content: center
  align-items: center
  transition: transform 1s opacity 0.4s

  .show
    opacity: 1
    transform: scale(1)

  .main
    display: flex
    justify-content: center
    align-items: center

.modalCard
  background: linear-gradient(to right, desaturate(darken($colorBgPrimary, 15%), 20%), desaturate(darken($colorBgSecondary, 10%), 20%)) !important
  padding: $defaultPadding $defaultPadding $defaultPadding*1.25 !important
  min-width: 27em !important

.modalTitle
  margin: 0 0 $defaultPadding
  color: $colorTextPrimary
  text-align: center

.modalContent
  color: $colorTextDimmed
  width: 100%
  height: 100%
  overflow-y: scroll
  padding-bottom: 100px

.tilein
  // time | timing-function | fill-mode | name
  animation: 1s ease-in-out both fade-in

.tileout
  // time | timing-function | fill-mode | name
  animation: 1s ease-in-out both fade-out

@keyframes fade-in
  0%
    opacity: 0
    transform: scale(0)
  100%
    opacity: 1
    transform: scale(1)

@keyframes fade-out
  0%
    opacity: 1
    transform: scale(1)
  100%
    opacity: 0
    transform: scale(0)




